html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#12161d;
  color:#fff;
}

.widget{
    background-color:#1a222b;
    border-radius :1rem;
       
}

/*button*/
.btn :focus,.btn:active{
    outline:none !important;
       box-shadow:none;
}
.a-btn-action, .a-btn-action:hover
{
    text-decoration:none;
    color:inherit;
}
.e-breadcrumb a, .e-breadcrumb  a:hover{
    text-decoration :none !important;
    color:inherit !important;
}